{% extends '../base.html' %}

{% load static %}

{% block content %}

<h1>{{event.title}}</h1>
<div class="container">
  <div class="row">
    <div class="col-sm" style='font-size:18px'>
    <p> Event Name: <b>{{event.title}}</b></p>
    
     <p>Category: <b>{{event.Category}}</b></p>
     <p>Location: <b>{{event.location}}</b></p>
     <p>Start Date: <b>{{event.start_date}} </b></p>
     <p>End Date: <b>{{event.end_date}}</b> </p>
    </div>
    <div class="col-sm" style='font-size:18px'>
          <p>Description: <b> {{event.description}} </b></p>
          <br/>
          <p>adult price:<b> {{event.adult_price}} <b></p>
          <p>child price: <b>{{event.child_price}} <b></p>

    </div>
    <div class="col-sm">
        <img class="card-img-top" src="{{event.image.url}}"  style='width:400px' alt="">

      <img  />
    </div>
  </div>
<br/>
  <div class ='row'>
     {% comment %} <form method="post" action="{% url 'registration:registration_create' event.id %}" enctype="multipart/form-data" style="width:100%">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="Save" class='block' style="width:100%">Registration Button (only if registration is allowed)</button>
       
    </form> {% endcomment %}

     <form method="POST" action="{% url 'registeredevent:registeredevent' event.id user.id event.title  event.child_price|floatformat:'0' event.adult_price|floatformat:'0' %}" enctype="multipart/form-data" style="width:100%">
        {% csrf_token %}
        
        <button type="submit" value="Save" class='block' style="width:100%">Registration Button (only if registration is allowed)</button>
       
    </form> 
  </div>
</div>
{% endblock %}