<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <title>{% block title %} User Management {% endblock %}</title>
    <link href="{% static 'user/css/base.css' %}" rel="stylesheet">
</head>
<body>
<table>
    <tr>
        <th style="color:black;">NGO</th>
        <th style="text-align:right;" >{% if user.username %}
                <p>User: {{ user.username }} | <a href="{% url 'logout' %}?next={{request.path}}">logout</a></p>
            {% else %}
                <p><a href="{% url 'login' %}?next={{request.path}}">login</a></p>
            {% endif %}</th>
    </tr>
</table>
    <div id="header">
        <a href="{% url 'user:user_List' %}" class="logo" > User Management </a>

    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>