
{% extends 'base.html' %}
<h1>{% block title %}User View {% endblock title %}</h1>


{% block content %}
    {% if events %}
           <div class="container">
  <div class="row">

        {% for event in events %}
     <div class="col-sm">
     <a href="{% url 'event:event_detail' event.id %}">
      <div class="card" style='height:100%'>
  <img class="card-img-top" src="{{event.image.url}}"  style='height:100%' alt="">
  <div class="card-body" style='font-size:15px'>

    <p >
    {{event.title}} :  {{event.location}}
    
    </p></div> 
           </div>
    </div>
    </a>
        {% endfor %}
 </div>
</div>
    {% else %}
        <p>No Event are available.</p>
    {% endif %}



{% endblock content %}