{% extends '../base.html' %}
{% block title %}Create New User{% endblock title %}

{% block content %}
    <form method="post" action="{% url 'user:user_create' %}" enctype="multipart/form-data">{% csrf_token %}
        {% csrf_token %}
        <br>
        {%for field in form %}
    <td><td><br>{{field.label}}</br></td></td>

        {{field}}
    <br>
    {% endfor %}
        <br>
        <button type="submit" value="Save">Save</button>
        <a href="{% url 'user:user_List' %}" > Cancel </a>
    </form>
{% endblock content %}