
{% extends 'base.html' %}
<h1>{% block title %}User List{% endblock title %}</h1>
{% block active_class %}
class="active"
{% endblock %}
{% block content %}
<p class='pageHeader'>User Management</p>

    {% if user %}
        <table>
            <tr>
            <p><a class='btn btn-info floatBtn' href="{% url 'register' %}" > ADD N
            EW USER </a></p></tr>
            <tr style="background-color:black;color:white;">
                <th> Username </th>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Email Name </th>
                <th> Role Name </th>
                <th> Update </th>
                <th> Remove </th>
               
            </tr>

        {% for user in users %}
            <tr>
                <td><a href="{% url 'user:user_detail' user.id %}">{{ user.username }}</a></td>
                <td><p><b>{{ user.first_name }}</b></p></td>
                <td><p><b>{{ user.last_name }}</b></p></a></td>
                <td><p><b>{{ user.email }}</b></p></a></td>
                <td><p><b>{{ user.groups.all.0 }}</b></p></td>
                <td><a href="{% url 'user:user_update' user.id %}" > Edit </a></td>
                <td><a href="{% url 'user:user_delete' user.id %}" > 
                {% if user.role|stringformat:"s" == "admin" %}
                 {% if admin_length  > 1 %}
                 Delete
                {% endif %}
                        
                                {% else %}
                            Delete
                                {% endif%}


            

                </a></td>
            </tr>
        {% endfor %}

        </table>
    {% else %}
        <p>No User are available.</p>
    {% endif %}
{% endblock content %}