{% extends '../base.html' %}

{% load static %}

{% block content %}
        <ul>
            <li>
                <a href="{% url 'user:user_List' %}">All</a>
        </ul>

    <div id="main" style='font-weight:bold;padding:10px' class="user-detail">
        <p class='pageHeader'>USER PROFILE</p>
        <p>First Name : {{ user.first_name }} </p>
        <p>Last Name :{{ user.last_name }} </p>
        <div class="user-detail">
            <p>User Name : {{ user.username }}</p>
            <p>Email : {{user.email }} </p>
        </div>
    </div>

{% endblock %}