{% extends '../base.html' %}
{% block title %}Registration{% endblock title %}

{% block content %}
{% comment %} <p class='pageHeader'>Event Registration {{event.title}}</p>
    <form method="POST" action="{% url 'registration:registration_confirm'%}" enctype="multipart/form-data">{% csrf_token %}
        {% csrf_token %}
        <br>
        {{ form.as_p }}
        <br>
        <button type="submit" value="Save">Save</button>
        <a href="{% url 'event:event_list' %}" > Cancel </a>
    </form> {% endcomment %}
<p class='pageHeader'>Event Registration {{event.title}}</p>
    <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
        {% csrf_token %}
        <br>
        {{ form.as_p }}
        <br>
        <button type="submit" value="Save">Save</button>
        <a href="{% url 'event:event_list' %}" > Cancel </a>

{% endblock content %}